.msm-module-page-block {
    .btn-toggle-collapse {
        background-color: #292929;
        color: white;
        border: none;
        padding: 18px 20px;
        cursor: pointer;
        text-align: cebter;
        width: 90%;
        border-radius: 12px;
        border-right: 3px solid rgb(88, 88, 88);
        margin: auto auto 30px auto;
        display: flex;
        justify-content: center;
    }

    .modal-content {
        background-color: #292929;
    }

    .modal-header {
        color: white;
        border-bottom: 1px solid #424242;
    }

    .modal-footer {
        border-top: 1px solid #424242;
    }

    .msm-modal-para p {
        margin: 0;
        font-weight: 400;
        line-height: 20px;
        font-size: 15px;
    }

}