.btn-toggle-collapse {
    background-color: #292929;
    color: white;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    text-align: cebter;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 8px;

}

.collapse-content {
    margin-top: 10px;
}

.custom-card {
    // background-color: #f8f9fa;
    // border: 1px solid #dee2e6;
    // border-radius: 5px;
    padding: 0px 15px;
}

.custom-card-body {
    font-size: 16px;
    color: #ffffff;
    text-align: center;
}
