.msm-module-page-block {
    .btn-toggle-collapse {
        background-color: #ffffff;
        color: rgb(0, 0, 0);
        border: 1px solid #ddd;
        padding: 18px 20px;
        cursor: pointer;
        width: 96%;
        border-radius: 12px;
        margin: 5px;
    }

    .msm-modal-para p {
        margin: 0;
        font-weight: 400;
        line-height: 20px;
        font-size: 15px;
    }

    strong {
        font-weight: 510;
    }

    ol li {
        margin-bottom: 10px;

        ul li {
            margin-bottom: 0px;
        }
    }

    .list-style-disc {
        list-style: disc;
    }

    .list-style-circle {
        list-style: circle;
    }

    .card {
        padding: 2rem 1rem;
        border-radius: 1rem;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
        height: 100%;
        // background-color: #111116;
        background: white;
        transition: transform 0.5s ease-in-out;
        border-bottom: 3px solid #ff0a0a !important;
        border: none;

        h6,
        .msm-text-dark {
            color: rgb(0, 0, 0);
            font-weight: 400;
        }

        &:hover {
            background: #ff0a0a;
            transition: transform 0.5s ease-in-out;

            h6,
            .msm-text-dark {
                color: rgb(255, 255, 255);
                font-weight: 500;
            }
        }
    }
    .msm-pointer{
        cursor: auto;
    }
    .msm-font-size{
        font-size: 15px ;
        text-transform: capitalize;
    }
}

// background-image: url("/assets/img/bg-hero-homr.jpg");