// /*  msm class classname meaning MeTta share market */
// .wrapper{
//     min-height: 100vh;
// }
.msm-text-danger {
    color: #E11F25 !important;
}

.msm-text-success {
    color: #029936 !important;
}

.msm-text-secondary {
    color: #cfcfcf !important;
}

.msm-mt-5 {
    margin-top: 6rem;
}

@media (max-width: 992px) {
    .lw-msm-button {
        margin-top: 15px;
        display: flex;
        justify-content: center;
    }
}

.msm-scroll-to-top-btn {
    position: fixed;
    right: 15px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid #23d366;
    bottom: 40px;
    color: #23d366;
    font-size: 16px;
    background-color: #23d3660f;
    line-height: 10px;

    &:hover {
        color: #000000;
        background-image: linear-gradient(90deg, #00ffc2, #42ff00);
    }
}

.text-green {
    color: #23d366;
}

.msm-policy-section {
    .text-secondary {
        color: #808080 !important;
        font-weight: 400;
    }

    .text-light {
        color: white !important;
    }
}