// hero section
.msm-masthead-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 105%;
    box-shadow: inset 0px 0px 178px 540px rgb(0 0 0 / 83%);
    height: 100vh;
    animation: animatedBackground 17s linear infinite alternate;
    animation-range-start: normal;
    animation-range-end: normal;

    .msm-hero-image {
        width: 80%;
        margin: auto;
        display: flex;
        animation: movetopbounce 9s linear infinite;

        @media (max-width: 768px) {
            margin-top: 3rem;
            width: 100%;
        }
    }

    @media (max-width: 1292px) {
        background-size: cover;
        animation: animatedBackground 60s linear infinite alternate;
        padding: 0px 25px;
    }

    @media (max-width: 768px) {
        height: 59rem;
    }

    @media (max-width: 768px) {
        .msm-hero-section-mobile-view {
            text-align: center;
        }
    }
}

@keyframes animatedBackground {
    from {
        background-position: left bottom
    }

    to {
        background-position: right bottom
    }
}

@keyframes movetopbounce {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0px);
    }
}

// hero section --------------------------------


// typing animation 
.msm-quotes {
    // background: linear-gradient(253deg, #1b5183 -45.94%, #061327 87.99%);
    background: linear-gradient(to bottom, #302b63, #24243e);
    height: 7rem;
    display: flex;
    align-items: center;

    @media (max-width: 768px) {
        height: 11rem;
    }

    .typing {
        font-style: italic;
        font-weight: 800;
        font-size: 45px;
        line-height: 25px;
        color: #fff200;
        text-shadow: 0px 8px 10px rgba(0, 0, 0, 0.506);

        @media (max-width: 768px) {
            line-height: 50px;
        }
    }
}

// / typing animation  --------------------------------

// photo gallery
.msm-hero {
    padding: 8rem 16px;
    display: flex;
    flex-direction: column;
    background-color: #111116;
    justify-content: center;
    position: relative;
    gap: 24px;

    @media (max-width: 768px) {
        padding: 7rem 16px
    }
}

.msm-hero-section-mobile-view p{
    font-size: 20px;
    font-weight: 600;
}
.wrap-images {
    overflow: hidden;
    display: none;
    align-items: center;
    position: relative;

    &::before,
    &::after {
        content: "";
        position: absolute;
        z-index: 20;
        width: 60%;
        height: 100%;
    }

    &::before {
        background: linear-gradient(-90deg, rgba(19, 19, 32, 0.00) 6.38%, #131320 100%);
    }

    &::after {
        right: 0;
        background: linear-gradient(90deg, rgba(19, 19, 32, 0.00) 6.38%, #131320 100%);
    }

    &:hover {
        .row-images {
            animation-play-state: paused;
            transition: 0.5s ease-in-out;
        }
    }
}

.row-images {
    flex-shrink: 0;
    display: flex;
    gap: 16px;
    animation: h-scroll 60s linear infinite;

    img {
        height: 150px;
        border-radius: 8px;
        opacity: 0.8;

        &:first-child {
            margin-left: 16px;
        }
    }
}

.wrap-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    @media (max-width: 992px) {
        text-align: center;
    }
}

.btn-primary {
    display: flex;
    padding: 16px 24px;
    justify-content: center;
    color: #000000;
    border-radius: 32px;
    font-size: 17px;
    line-height: 130%;
    font-weight: 600;
    background-image: linear-gradient(90deg, #00ffc2, #42ff00);
    background-size: 200% 200%;
    animation: bg-btn 3s linear alternate infinite;
    text-decoration: none;
    width: fit-content;

    &:hover {
        transform: scale(0.98);
        box-shadow: 1px 1px #ffffff inset,
            -1px -1px #ffffff inset;
        transition: 0.5s ease-in-out;
    }
}

// Animations
@keyframes h-scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes increase-size {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(2);
    }
}

// btn animation
@keyframes bg-btn {
    0% {
        background-position: 10% 0%;
    }

    50% {
        background-position: 91% 100%;
    }

    100% {
        background-position: 10% 0%;
    }
}

// Media Queries
@media screen and (min-height: 540px) {
    .wrap-images {
        display: flex;
    }
}

@media screen and (min-height: 640px) {
    .header {
        display: flex;
    }
}

@media screen and (min-width: 640px) {
    .msm-hero {
        gap: 32px;
    }

    .btn-primary {
        margin-top: 16px;
    }
}

@media screen and (min-width: 768px) {
    .btn-primary {
        align-self: center;
        padding-left: 64px;
        padding-right: 64px;
    }

}

@media (max-width: 768px) {
    .btn-primary {
        align-self: center;
        padding-left: 50px;
        padding-right: 50px;
        font-size: 16px;
    }
}

@media screen and (min-width: 1024px) {
    .wrap-images {
        max-width: 768px;
        align-self: center;
    }

    .row-images img {
        height: 200px;
    }

}

@media screen and (min-width: 1280px) {
    .wrap-images {
        max-width: 1024px;
    }
}

// /photo gallery ---------------------------------------

// about us

.msm-about-section {
    padding: 8rem 16px;

    .msm-lead-description {
        font-size: 14px;
        font-weight: 400;
        line-height: 25px;
    }

    .image-container {
        position: relative;
        width: 500px;
        height: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image-container img {
        position: absolute;
        width: 100%;
        transition: opacity 0.3s ease-in-out;
    }

    .image-container .hover {
        opacity: 0;
    }

    .image-container:hover .hover {
        opacity: 1;
    }

    .image-container:hover .default {
        opacity: 0;
    }

    @media (max-width: 992px) {
        .msm-text-align {
            text-align: center;
        }

        .mt--2 {
            margin-top: 4rem;
        }
    }
}

// about us ---------------------------------------------

// testimonial slider
.msm-testimonial-slider-block {
    padding: 8rem 16px;

    .testimonial-slider {
        .testimonial-card {
            padding: 25px 20px;
            border-radius: 15px;
            border: 1px solid #b3a4a40d;
            background-color: #00000036;

            h6 {
                color: #ffbd00;
                display: flex;
                gap: 5px;
            }
        }

        .swiper-button-prev,
        .swiper-button-next {
            display: none;
        }

        .swiper-pagination-bullet {
            background: white;
        }
    }
}

// testimonial slider ---------------------------------------------

// Brochure form and contact form

.msm-home-form {
    .msm-mt-5 {
        margin: 0px !important;
    }

    .msm-contact-page-block {
        background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
    }
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 400px;
}

input,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}

input:focus,
select:focus,
textarea:focus {
    border-color: #007bff;
    box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.5);
    transform: scale(1.05);
}

textarea {
    transition: all 0.3s ease-in-out;
}

.message {
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
}

.success {
    color: green;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
}

.error {
    color: red;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
}

textarea {
    border: 1px solid #ccc;
}

.msm-content-modal .text-white {
    color: #212529 !important;
}

@media (min-width: 576px) {
    .modal {
        background: #00000070;
    }
}
.modal-content .form-container form{
    max-width:100%;
}
// /Brochure form and contact form ---------------------------------------------

// Faq section
.msm-faq-section {
    padding: 8rem 0rem;

    .msm-accordion {
        background-color: white;
        color: black;
        border-radius: 5px;
        box-shadow: 0 5px 10px 0 rgb(0, 0, 0, 0.25);
        margin: 15px 0;

        .question {
            font-size: 16px;
            padding: 7px 15px;
            position: relative;
            font-weight: 600;
            display: flex;
            align-items: center;
            cursor: pointer;

            &::after {
                content: "\002B";
                font-size: 2.2rem;
                position: absolute;
                right: 20px;
                transition: 0.2s;
            }
        }
    }

    .question.active::after {
        transform: rotate(45deg);
    }

    .answercont {
        max-height: 0;
        overflow: hidden;
        transition: 0.3s;

        .answer {
            padding: 0 20px 20px;
            line-height: 1.5rem;
        }
    }
}

// /Faq section ---------------------------------------------

// why choose section 
.msm-why-choose-section {
    padding: 9rem 16px;
    background-color: #111116;

    .card {
        padding: 40px 25px;
        border-radius: 15px;
        border: 1px solid #23d366;
        background-color: #00000036;
        text-align: left;
    }

    .msm-content {
        padding-left: 50px;

        @media (max-width: 992px) {
            padding-left: 7px;

            p {
                margin-bottom: 30px !important;
                margin-top: 13px !important;
            }
        }
    }

    @media (max-width: 992px) {
        .msm-flex-wrap {
            display: flex;
            flex-wrap: wrap-reverse;
        }
    }
}

// /why choose section ---------------------------------------------

// nagpur best classes section
.msm-nagpur-best-classes-section {
    padding: 8rem 16px;
    padding-bottom: 5rem;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);

    .msm-highlight {
        position: relative;
        display: inline-block;
        font-weight: bold;
        color: #E65100;

        &::after {
            content: "";
            position: absolute;
            left: -5px;
            right: -5px;
            top: -5px;
            bottom: -5px;
            border-radius: 50%;
            border: 3px solid #ffa500;
        }
    }

    li {
        list-style: none;
    }

    .msm-card {
        width: 100%;
        height: 35rem;
        display: flex;
        gap: 10px;
        padding: 0.4em;

        @media (max-width: 992px) {
            margin: 30px 0;
        }

        p {
            height: 100%;
            flex: 1;
            overflow: hidden;
            cursor: pointer;
            border-radius: 8px;
            transition: all 0.5s;
            border: 1px solid #373737;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            &:hover {
                flex: 8 1;

                img {
                    transform: scale(1.1);
                }
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: transform 0.5s ease-in-out;
            }
        }
    }

    .card {
        padding: 2rem 1rem;
        border-radius: 1rem;
        box-shadow: 0px 1rem 1.5rem -0.9rem #000000e1;
        height: 100%;
        // background-color: #111116;
        background-image: linear-gradient(1deg, #101010, #1b1b24);
        transition: transform 0.5s ease-in-out;
        border-bottom: 1px solid #ffffff;

        h6,
        .msm-text-dark {
            color: rgb(255, 255, 255);
            font-weight: 400;
        }

        &:hover {
            background-image: linear-gradient(90deg, #00ffc2, #42ff00);
            transition: transform 0.5s ease-in-out;
            transform: scale(1.1);

            h6,
            .msm-text-dark {
                color: rgb(0, 0, 0);
                font-weight: 500;
            }
        }
    }

    .msm-top-spacing {
        padding: 3rem 0rem;
        padding-bottom: 0rem;
    }

}

// /nagpur best classes section -----------------------------------------------------------

// whatsapp connect btn
.msm-whatsapp-btn {
    padding: 12px 20px;
    border-radius: 58px;
    font-size: 17px;
    text-decoration: none;
    position: fixed;
    top: 50%;
    right: 15px;
    font-weight: 700;
    background-color: #23D366;
    color: white;
    display: flex;
    align-items: center;
    overflow: hidden;
    z-index: 999;

    &::before {
        content: '';
        position: absolute;
        width: 100px;
        height: 100%;
        background-image: linear-gradient(120deg, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0) 70%);
        top: 0;
        left: -100px;
        animation: white-liine 2s infinite linear;
    }
}

.msm-whatsapp-icon {
    margin-right: 6px;
    font-size: 30px;
}

@keyframes white-liine {
    0% {
        left: -100px;
    }

    100% {
        left: 100%;
    }
}

// /whatsapp connect btn ----------------------------------------------------------------------------

.msm-call-to-action-section {
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
    padding: 8rem 16px;
}

// EnrollmentPage

.msm-enrollment-page-block {
    position: relative;
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0px 0px 178px 540px rgb(0 0 0 / 72%);
    padding: 12rem 0rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
}

// /EnrollmentPage ----------------------------------------------------------------------------

// EnrollmentForm

.msm-enroll-form-container {
    background: #0000000f;
    backdrop-filter: blur(15px);
    padding: 35px;
    max-width: 100%;
    border-radius: 10px;
    border-bottom: 3px solid white;

    .msm-success-message {
        color: green;
        background-color: #d4edda;
        border: 1px solid #c3e6cb;
        padding: 6px;
        border-radius: 5px;
        text-align: center;
        font-weight: 600;
    }
}

.msm-container-block {
    padding: 5rem 16px;
}

.msm-enroll-content-section-block{
    padding: 8rem 16px;

    .image-enroll{
        width: 80%;
    }
}
// /EnrollmentForm ----------------------------------------------------------------------------