/* navmenu css only */
.navbar-nav .nav-link {
    color: rgb(255, 255, 255) !important;
    font-weight: 500;
    text-transform: uppercase;
}

.navbar-toggler {
    background: #ffffff !important;
    border: none;
    outline: none;
}

@media (max-width: 991px) {
    .navbar-nav {
        background: rgba(255, 255, 255, 0.9);
        padding: 10px;
        border-radius: 10px;
    }
    .msm-mobile-view{
        width: 100% !important;
    }
}

.bg-primary-color,
.navbar-nav {
    background-color: #0a0226;
}
.nav-link.msm-text-dark-color{
    color: rgb(39, 39, 39) !important;
    font-weight: 600;
}
.nav-link.msm-text-blue{
    color: blue !important;
    font-weight: 600;
}

// .msm-social-icon {
//     display: flex;
//     justify-content: end;
//     list-style: none;
//     gap: 20px;
//     font-size: 20px;
//     a{
//         text-decoration: none;
//         color: #cccccc;
//         &:hover{
//             color: white;
//         }
//     }
// }
// .msm-social-connect{
//     display: flex;
//     gap: 20px;
//     list-style: none;
//     li{
//         text-decoration: none;
//         color: #cccccc;
//         &:hover{
//             color: white;
//         }
//     }           
// }