.msm-resources-conatiner {
    img {
        width: 200px;
        height: 200px;
        object-fit: contain;
    }

    .msm-upstox {
        height: auto;
    }

    a {
        text-decoration: none;
    }

    h6 {
        color: #ffbd00;
    }

}
.rpv-core__inner-pages.rpv-core__inner-pages--vertical{
    overflow:hidden;
}